@page "/"
@namespace BlGrid.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Tienne:400,900' rel='stylesheet' type='text/css'>
    <title>BlGrid.ServerSide</title>
    <base href="/" />
    <link rel="stylesheet" href="_content/BlGrid.Shared/css/bootstrap/bootstrap.min.css" />
    <link href="_content/BlGrid/blg-style.min.css" rel="stylesheet" />
    <link href="_content/DnetOverlayComponent/dnet-overlay-style.css" rel="stylesheet" />
    <link href="_content/DnetAdminDashboard/dnet-admin-dashboard.css" rel="stylesheet" />
    <link href="_content/DnetSpinnerComponent/dnet-spinner.css" rel="stylesheet" />
    <link href="_content/BlGrid.Shared/css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/DnetOverlayComponent/dnet-overlay.js"></script>
    <script src="_content/DnetOverlayComponent/rxjs.min.js"></script>
    <script src="_content/DnetAdminDashboard/dnet-admin-dashboard-interop.js"></script>
    <script src="_content/BlGrid/blg-interop.js"></script>
</body>
</html>


